* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Santral Light', sans-serif;
}


@font-face {
    font-family: 'Santral Light';
    font-style: normal;
    font-weight: normal;
    src: local('Santral Light'), url('Taner Ardali - Santral-Light.woff') format('woff');
}


@font-face {
    font-family: 'Santral Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Santral Light Italic'), url('Taner Ardali - Santral-LightItalic.woff') format('woff');
}

input:focus-visible {
    outline-offset: none;
}

input[type="text" i] {
    padding: 0;
}

:focus-visible {
    outline: none;
}

::-webkit-scrollbar {
    width: 1px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #d2cfcf;
    border: 1px solid #787878;
}

::-webkit-scrollbar-thumb {
    background: #585858;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.container-patter {
    max-width: 1280px;
    margin: 0 auto;
}

ul,
li {
    list-style: none !important;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.is-hidden {
    display: none;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer;
}

.searchBox,
.groupResearch__ContactUs,
.groupResearch,
.MiniCartSvg {
    height: fit-content;
}

@media screen and (min-width: 900px) {
    .d-grid {
        display: grid;
        grid-template-columns: 27% 73%;
    }

    .d-desktop {
        display: none;
    }

    .d-mobile  {
        display: unset;
    }
}

@media screen and (max-width: 900px) {
    .container-patter {
        padding: 0 16px;
    }

    .d-mobile {
        display: none;
    }

    .d-desktop {
        display: unset;
    }
}

@media screen and (max-width: 1280px) {

    body .menu,
    body .head {
        padding: 0 16px;
    }
}


@keyframes slidein {
    from {
        position: absolute;
        right: 100%;
        width: 100%;
    }

    to {
        position: absolute;
        right: 0%;
        width: 100%;
    }
}